.gc-footer__menu-item a {color: #ffffff}

.gc-footer__disclaimer p{
    margin-top: 10px; 
    margin-bottom: 0px; 
    color: #EFEFEF; 
}

.react-tel-input .form-control{
    width: 100% !important;
}

.form__top{
    margin-bottom: 30px !important;
}


.react-tel-input input{
    padding-left: 45px !important;
}